{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Appointments</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Appointments</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            
                <!-- Profile Sidebar -->
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="{{docD.dp.url}}" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3>{{userD.name}}</h3>
                                
                                <div class="patient-details">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li >
                                    <a href="{% url 'doctor-profile-settings' %}">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Your Dashboard</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="{% url 'appointments' %}">
                                        <i class="fas fa-calendar-check"></i>
                                        <span>Appointments</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'my-patients' %}">
                                        <i class="fas fa-user-injured"></i>
                                        <span>My Patients</span>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Profile Sidebar -->
                
            </div>
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="appointments">
                
                    <!-- Appointment List -->
                    {% if patientlist %}
                    {% for l in patientlist %}
                    <div class="appointment-list">
                        <div class="profile-info-widget">
                            <a href="patient-profile.html" class="booking-doc-img">
                                <img src="{{l.0.dp.url}}" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3><a href="patient-profile.html">{{l.0.userD.name}}</a></h3>
                                <div class="patient-details">
                                    <h5><i class="far fa-clock"></i> {{l.1.date}}, {{l.1.slot}}</h5>
                                    <h5><i class="fas fa-map-marker-alt"></i> {{l.0.state}}, {{l.0.country}}</h5>
                                    <h5><i class="fas fa-envelope"></i> {{l.0.user.email}}</h5>
                                    <h5 class="mb-0"><i class="fas fa-phone"></i> Meet Link : <a href="{{l.1.startUrl}}">Meet Link</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="appointment-action">
                            <a href="{% url 'add-prescription' l.0.userD.user.username %}" class="btn btn-sm bg-info-light" >
                                <i class="far fa-eye"></i> Add Prescription
                            </a>
                            <a href="{% url 'view-prescription' l.0.userD.user.username %}" class="btn btn-sm bg-info-light" >
                                <i class="far fa-eye"></i> View Prescription
                            </a>
                            <a href="{% url 'delete-appointment' l.1.id %}" class="btn btn-sm bg-info-light" onclick="return confirm('Are you sure you want to delete this item?');"><i class="far fa-eye"></i> Delete Appointment</a>
                        </div>
                    </div>
                    <!-- /Appointment List -->
                    {% endfor %}
                    {% else %}

                    <h2>No Appointments Found</h2>
                    {% endif %}
                    
                    
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->

{% endblock %}