{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
            
                <!-- Search Filter -->
                <div class="card search-filter">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Search Filter</h4>
                    </div>
                    <div class="card-body">
                    
                    
                    <div class="filter-widget">
                        <h4>Select Specialist</h4>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> Urology
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> Neurology
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Dentist
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Orthopedic
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Cardiologist
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> Cardiologist
                            </label>
                        </div>
                    </div>
                        <div class="btn-search">
                            <button type="button" class="btn btn-block">Search</button>
                        </div>	
                    </div>
                </div>
                <!-- /Search Filter -->
                
            </div>
            
            <div class="col-md-12 col-lg-8 col-xl-9">
                {% if doctors %}

                {% for d in doctors %}
                <!-- Doctor Widget -->
                <div class="card">
                    <div class="card-body">
                        <div class="doctor-widget">
                            <div class="doc-info-left">
                                <div class="doctor-img">
                                    <a href="{% url 'docprofile' d.1.user.username %}">
                                        <img src="{{d.1.dp.url}}" class="img-fluid" alt="User Image">
                                    </a>
                                </div>
                                <div class="doc-info-cont">
                                    <h4 class="doc-name"><a href="{% url 'docprofile' d.1.user.username %}">{{d.0.name}}  <font size="2px" color="#0de0fe"> {% if d.1.is_verified %} <img alt="verified" src="{% static 'assets/img/tick.png' %}" width="50px" height = "35px"> {% else %} ( Not Verified ) {% endif %}</font></a></h4>
                                    <p class="doc-speciality">{{d.1.Specialization}}</p>
                                    
                                    <div class="rating">
                                        
                                        <span class="d-inline-block average-rating">Rating (17)</span>
                                    </div>
                                    <br>
                                    <div class="clinic-services">
                                        {% for service in d.2 %}
                                            <span>{{service}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="doc-info-right">
                                <div class="clini-infos">
                                    <ul>
                                        <li><i class="far fa-thumbs-up"></i> 98%</li>
                                        <li><i class="far fa-comment"></i> 17 Feedback</li>
                                        <li><i class="fas fa-map-marker-alt"></i> {{d.1.state}}, {{d.1.country}} </li>
                                        <li><i class="far fa-money-bill-alt"></i> &#8377;{{d.1.price}} <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
                                    </ul>
                                </div>
                                <div class="clinic-booking">
                                    <a class="view-pro-btn" href="{% url 'docprofile' d.1.user.username %}">View Profile</a>
                                    <a class="apt-btn" href="{% url 'book-slot' d.1.user.username %}">Book Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doctor Widget -->
                {% endfor %}

                {% else %}


                {% endif %}
                

                	
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->

{% endblock %}