{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    .form-inline {  
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    
    input[type="text"]{
      width:500px;
    }

    button[type="submit"]{
      margin-left:20px;
    }
    
    .form-inline label {
      margin: 5px 10px 5px 0;
    }
    
    .form-inline input {
      vertical-align: middle;
      margin: 5px 10px 5px 0;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
    }
    
    .form-inline button {
      padding: 10px 20px;
      background-color: dodgerblue;
      border: 1px solid #ddd;
      color: white;
      cursor: pointer;
    }
    
    .form-inline button:hover {
      background-color: royalblue;
    }
    table {
      font-family: arial, sans-serif;
      width: 100%;
      margin:auto;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
tr:first-child {
  background-color: dodgerblue;
  color:#fff;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
table{
      border: 1px solid #000 !important;
    }
    td:nth-child(even),th:nth-child(even){
      width:150px;
    }
    @media (max-width: 800px) {
      .form-inline input {
        margin: 10px 0;
      }
      
      .form-inline {
        flex-direction: column;
        align-items: stretch;
      }
    }
    h5{
      font-weight: bolder;
    }
    </style>
    </head>
    <body>
    
      <div class="col-md-12 col-lg-12 col-xl-12">
        
          
          <div class="card">
            
            <div class="card-body">
              
              <h2>Prescription</h2><br>
            
                <button onclick="printDiv('print')">Print</button>
                <div id="print" style="padding:10px;width:50%;margin:auto;font-size: large;border:1px solid #000;">
                  <table>
                  <img style="margin-left:30%;" height="40px" width="175px" src="{% static '/assets/img/logo.png' %}" alt=""><br><br>
                  <h5>Patient Name : {{patient.userD.name}} </h5>
                  <h5>Doctor Name : {{docD.name}}</h5>
                {{prescription}}
                <tr>
                  <th>Name Of Medicine</th>
                  <th>Quantity</th>
                  <th>Date Added</th>
                </tr>
                {% for p in prescriptions %}
                <tr>
                  
                  <td>{{p.medicine}}</td>
                  <td>{{p.quantity}}</td>
                  <td>{{p.date}}</td>
                  
                </tr>
                {% endfor %}
              </table>
            </div>
              </div>
              </div>

        </div>

        <script>
          function printDiv(divName){
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
      
            document.body.innerHTML = printContents;
      
            window.print();
      
            document.body.innerHTML = originalContents;
      
          }
        </script>

  {% endblock %}